<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
           <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog</h1> 
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste ex aspernatur commodi asperiores alias ducimus numquam perferendis, quidem quae, velit sapiente et debitis, animi unde pariatur maiores officiis? Voluptatum, commodi.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic maiores rem odit, natus excepturi ullam neque, nobis architecto exercitationem doloribus id fugiat beatae consequuntur officia vero soluta? Hic, veritatis doloribus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repellat enim tempore esse, quae eum fuga laudantium placeat explicabo, suscipit aperiam provident culpa, laboriosam mollitia facilis quas ex. Animi, et?
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12  w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
