<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="https://i.imgur.com/AVz4a9b.jpg" alt="bem vindo">
        </div>
    </div>

    <div class="container">
        <div class="row w-100 mt-4 mb-4">
            <div class="col-md-6">
                <p class="text-justify text-monospace">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste ex
                    aspernatur commodi asperiores alias ducimus numquam perferendis, quidem quae, velit sapiente et
                    debitis, animi unde pariatur maiores officiis? Voluptatum, commodi.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic maiores rem odit, natus excepturi
                    ullam neque, nobis architecto exercitationem doloribus id fugiat beatae consequuntur officia vero
                    soluta? Hic, veritatis doloribus?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repellat enim tempore esse, quae
                    eum fuga laudantium placeat explicabo, suscipit aperiam provident culpa, laboriosam mollitia facilis
                    quas ex. Animi, et?
                </p>
            </div>
            <div class="row w-100  d-flex justify-content-end ">
                <div class="col-md-6">
                    <p class="text-justify text-monospace">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Iste ex aspernatur commodi asperiores alias ducimus numquam perferendis, quidem quae, velit
                        sapiente et debitis, animi unde pariatur maiores officiis? Voluptatum, commodi.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic maiores rem odit, natus excepturi
                        ullam neque, nobis architecto exercitationem doloribus id fugiat beatae consequuntur officia
                        vero soluta? Hic, veritatis doloribus?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repellat enim tempore esse,
                        quae eum fuga laudantium placeat explicabo, suscipit aperiam provident culpa, laboriosam
                        mollitia facilis quas ex. Animi, et?
                    </p>
                </div>
            </div>




            <div class="jumbotron text-monospace text-center bg-transparent ">
                <h1 class="display-4 mb-4 ">Tenha acesso as publicações</h1>

                <p class="  text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit doloremque voluptatibus quis nulla enim delectus tempore praesentium officia labore tenetur nemo voluptas quaerat sapiente at, error placeat architecto ex. Temporibus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corporis, quo consectetur libero explicabo doloribus optio culpa, qui dicta, labore illo cupiditate? Tempora, facilis! Quae nam expedita vitae praesentium. Tempora. 
                Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p>

              
                
                <div class="row mt-5  w-50 ">
                    <div class="col-md-6 btnVF">
                        <button class="btn btn-outline-transparent text-uppercase  p-3 shadow  mb-5 rounded btn-transparent btn-outline btn-block  hoverLogin" routerLink='/login'>Tenha acesso ao Feed</button>
                    </div>
                </div>
            </div>
        </div>